.container {
  background-color: var(--background);
}

.header {
  height: 60px;
}

.navbar {
  display: none;
}

@media only screen and (min-width: 1100px)  {
  .navbar {
    display: block;
    position: fixed;
    top: 25px;
    right: 125px;
    z-index: 100;
  }
}

.children {
  
}

.support {
  display: none;
}

.footer {
  height: 100px;
}

@media only screen and (min-width: 1100px)  {
  .container {
    display: flex;
  }

  .header {
    display: block;
    width: 100px;
    height: 100vh;
    top: 0;
    border-right: 5px solid var(--background);
  }

  .children {
    flex: 1;
  }

  .support {
    display: block;
    width: 100px;
    height: 100vh;
    top: 0;
  }

  .footer {
    display: none;
  }
}
